# --- Docker Compose Variables ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=cubecastle

# --- Command Service Variables (REST API) ---
COMMAND_SERVICE_PORT=9090
DATABASE_URL="postgresql://user:password@postgres:5432/cubecastle?sslmode=disable"

# --- Query Service Variables (GraphQL) ---
QUERY_SERVICE_PORT=8090
GRAPHQL_DATABASE_URL="postgresql://user:password@postgres:5432/cubecastle?sslmode=disable"

# --- Redis Cache Variables ---
REDIS_URL="redis://redis:6379"
