services:
  prometheus:
    image: prom/prometheus:v2.45.0
    container_name: cube_castle_prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert_rules.yml:/etc/prometheus/alert_rules.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
      - '--web.enable-admin-api'
    networks:
      - cube_castle_network

  grafana:
    image: grafana/grafana:10.1.0
    container_name: cube_castle_grafana
    ports:
      - "3333:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin123
      - GF_USERS_ALLOW_SIGN_UP=false
    networks:
      - cube_castle_network

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.12.0
    container_name: cube_castle_postgres_exporter
    ports:
      - "9187:9187"
    environment:
      DATA_SOURCE_NAME: "postgresql://user:password@localhost:5432/cubecastle?sslmode=disable"
    networks:
      - cube_castle_network

volumes:
  prometheus_data:
  grafana_data:

networks:
  cube_castle_network:
    external: true