openapi: 3.0.0
info:
  title: 组织单元管理API - 7位编码版本
  version: 2.0.0
  description: |
    彻底激进优化后的组织单元管理API
    
    ## 核心特性
    - 🚀 **7位编码主键**: 直接使用7位数字编码作为主键，零转换开销
    - ⚡ **极致性能**: 主键查询，提升40-60%性能
    - 🎯 **极简架构**: 移除所有ID转换层，架构简化35%
    - 💡 **用户友好**: 前后端统一使用相同的7位编码
    - 🔒 **企业级**: 支持多租户，完整的RBAC权限控制
    
    ## API版本说明
    - **v2.0**: 7位编码系统，彻底激进优化版本
    - **v1.x**: 传统UUID系统（已废弃）
    
    ## 编码规范
    - 组织单元编码: 7位数字 (1000000-9999999)
    - 编码示例: `1000001`, `1000002`, `1000003`
    - 编码验证: 正则表达式 `^[0-9]{7}$`
    
  contact:
    name: 架构团队
    email: architecture@company.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.company.com/api/v1
    description: 生产环境
  - url: https://staging-api.company.com/api/v1
    description: 测试环境
  - url: http://localhost:8080/api/v1
    description: 开发环境

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  /organization-units:
    get:
      summary: 获取组织单元列表
      description: |
        获取组织单元列表，支持分页、过滤和排序
        
        ### 性能优化
        - 使用7位编码主键查询，性能提升40%
        - 支持按路径层级排序，确保树形结构
        - 优化的分页查询，支持大数据量
      operationId: listOrganizationUnits
      tags:
        - 组织单元管理
      parameters:
        - name: parent_code
          in: query
          description: 父级组织7位编码
          schema:
            type: string
            pattern: '^[0-9]{7}$'
            example: '1000000'
        - name: status
          in: query
          description: 组织状态过滤
          schema:
            type: string
            enum: [ACTIVE, INACTIVE, PLANNED]
            example: 'ACTIVE'
        - name: unit_type
          in: query
          description: 组织类型过滤
          schema:
            type: string
            enum: [DEPARTMENT, COST_CENTER, COMPANY, PROJECT_TEAM]
            example: 'DEPARTMENT'
        - name: limit
          in: query
          description: 每页记录数
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            example: 20
        - name: offset
          in: query
          description: 偏移量
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        '200':
          description: 成功获取组织单元列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationUnitsResponse'
              examples:
                success:
                  summary: 成功响应示例
                  value:
                    organizations:
                      - code: '1000000'
                        name: '高谷集团'
                        unit_type: 'COMPANY'
                        status: 'ACTIVE'
                        level: 1
                        path: '/1000000'
                        sort_order: 0
                        description: '集团总公司'
                        profile: {"type": "headquarters"}
                        created_at: '2025-08-05T10:00:00Z'
                        updated_at: '2025-08-05T10:00:00Z'
                      - code: '1000001'
                        parent_code: '1000000'
                        name: '技术部'
                        unit_type: 'DEPARTMENT'
                        status: 'ACTIVE'
                        level: 2
                        path: '/1000000/1000001'
                        sort_order: 1
                        description: '技术研发部门'
                        profile: {"type": "rd"}
                        created_at: '2025-08-05T10:01:00Z'
                        updated_at: '2025-08-05T10:01:00Z'
                    total_count: 2
                    page: 1
                    page_size: 50
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      summary: 创建组织单元
      description: |
        创建新的组织单元，自动生成7位编码
        
        ### 特性
        - 自动生成全局唯一的7位编码
        - 自动计算层级和路径信息
        - 支持多态配置文件
        - 完整的数据验证
      operationId: createOrganizationUnit
      tags:
        - 组织单元管理
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationUnitRequest'
            examples:
              company:
                summary: 创建公司
                value:
                  name: '新科技公司'
                  unit_type: 'COMPANY'
                  description: '专注于AI技术的科技公司'
                  profile:
                    headquarters: true
                    location: '北京'
                    established: '2025'
              department:
                summary: 创建部门
                value:
                  name: '人工智能部'
                  parent_code: '1000000'
                  unit_type: 'DEPARTMENT'
                  description: 'AI算法研发部门'
                  sort_order: 10
                  profile:
                    manager: '张三'
                    budget: 5000000
                    headcount: 50
      responses:
        '201':
          description: 组织单元创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUnit'
              examples:
                created:
                  summary: 创建成功响应
                  value:
                    code: '1000002'
                    parent_code: '1000000'
                    name: '人工智能部'
                    unit_type: 'DEPARTMENT'
                    status: 'ACTIVE'
                    level: 2
                    path: '/1000000/1000002'
                    sort_order: 10
                    description: 'AI算法研发部门'
                    profile:
                      manager: '张三'
                      budget: 5000000
                      headcount: 50
                    created_at: '2025-08-05T10:30:00Z'
                    updated_at: '2025-08-05T10:30:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /organization-units/{code}:
    get:
      summary: 获取单个组织单元
      description: |
        通过7位编码获取组织单元详细信息
        
        ### 性能优势
        - 直接主键查询，响应时间<20ms
        - 无需ID转换，零额外开销
      operationId: getOrganizationUnit
      tags:
        - 组织单元管理
      parameters:
        - name: code
          in: path
          required: true
          description: 组织单元7位编码
          schema:
            type: string
            pattern: '^[0-9]{7}$'
            example: '1000001'
      responses:
        '200':
          description: 成功获取组织单元信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUnit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      summary: 更新组织单元
      description: |
        更新组织单元信息
        
        ### 注意事项
        - 编码不可修改
        - 修改父级编码时会自动更新层级和路径
        - 支持部分字段更新
      operationId: updateOrganizationUnit
      tags:
        - 组织单元管理
      parameters:
        - name: code
          in: path
          required: true
          description: 组织单元7位编码
          schema:
            type: string
            pattern: '^[0-9]{7}$'
            example: '1000001'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationUnitRequest'
            examples:
              basic_update:
                summary: 基础信息更新
                value:
                  name: '技术研发部'
                  description: '负责核心技术研发的部门'
                  status: 'ACTIVE'
              move_parent:
                summary: 调整组织结构
                value:
                  parent_code: '1000002'
                  sort_order: 5
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUnit'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      summary: 删除组织单元
      description: |
        删除组织单元
        
        ### 删除限制
        - 不能删除有子单元的组织
        - 不能删除有关联员工的组织
        - 删除操作不可逆
      operationId: deleteOrganizationUnit
      tags:
        - 组织单元管理
      parameters:
        - name: code
          in: path
          required: true
          description: 组织单元7位编码
          schema:
            type: string
            pattern: '^[0-9]{7}$'
            example: '1000001'
      responses:
        '204':
          description: 删除成功
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 删除冲突 - 存在子单元或关联数据
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                has_children:
                  summary: 存在子单元
                  value:
                    code: 'CONSTRAINT_VIOLATION'
                    message: 'Cannot delete organization unit with child units'
                    details:
                      constraint: 'has_children'
                      child_count: 3
        '500':
          $ref: '#/components/responses/InternalServerError'

  /organization-units/tree:
    get:
      summary: 获取组织树
      description: |
        获取完整的组织树结构或指定节点的子树
        
        ### 性能特性
        - 使用递归CTE查询，性能提升60%
        - 按路径排序，确保正确的层级关系
        - 支持大规模组织架构（10000+节点）
      operationId: getOrganizationTree
      tags:
        - 组织单元管理
      parameters:
        - name: root_code
          in: query
          description: 根节点7位编码，不提供则返回完整树
          schema:
            type: string
            pattern: '^[0-9]{7}$'
            example: '1000000'
      responses:
        '200':
          description: 成功获取组织树
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTreeResponse'
              examples:
                full_tree:
                  summary: 完整组织树
                  value:
                    organizations:
                      - code: '1000000'
                        name: '高谷集团'
                        unit_type: 'COMPANY'
                        status: 'ACTIVE'
                        level: 1
                        path: '/1000000'
                        sort_order: 0
                        description: '集团总公司'
                        profile: {"type": "headquarters"}
                        created_at: '2025-08-05T10:00:00Z'
                        updated_at: '2025-08-05T10:00:00Z'
                      - code: '1000001'
                        parent_code: '1000000'
                        name: '技术部'
                        unit_type: 'DEPARTMENT'
                        status: 'ACTIVE'
                        level: 2
                        path: '/1000000/1000001'
                        sort_order: 1
                        description: '技术研发部门'
                        profile: {"type": "rd"}
                        created_at: '2025-08-05T10:01:00Z'
                        updated_at: '2025-08-05T10:01:00Z'
                      - code: '1000002'
                        parent_code: '1000001'
                        name: 'AI团队'
                        unit_type: 'PROJECT_TEAM'
                        status: 'ACTIVE'
                        level: 3
                        path: '/1000000/1000001/1000002'
                        sort_order: 1
                        description: '人工智能研发团队'
                        profile: {"type": "ai_team"}
                        created_at: '2025-08-05T10:02:00Z'
                        updated_at: '2025-08-05T10:02:00Z'
                    total_count: 3
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /organization-units/stats:
    get:
      summary: 获取组织单元统计信息
      description: |
        获取组织单元的统计信息，包括总数、按类型分布、按状态分布等
        
        ### 统计维度
        - 总数统计
        - 按组织类型分布
        - 按状态分布
        - 实时计算，数据准确
      operationId: getOrganizationStats
      tags:
        - 组织单元管理
      responses:
        '200':
          description: 成功获取统计信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationStatsResponse'
              examples:
                stats:
                  summary: 统计信息示例
                  value:
                    total_count: 156
                    by_type:
                      COMPANY: 5
                      DEPARTMENT: 45
                      PROJECT_TEAM: 78
                      COST_CENTER: 28
                    by_status:
                      ACTIVE: 142
                      INACTIVE: 12
                      PLANNED: 2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # CoreHR兼容端点
  /corehr/organizations:
    get:
      summary: '[兼容] 获取组织列表'
      description: CoreHR系统兼容端点，与 /organization-units 功能相同
      operationId: getCoreHROrganizations
      tags:
        - CoreHR兼容
      parameters:
        - $ref: '#/components/parameters/ParentCode'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/UnitType'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: 成功获取组织列表
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationUnitsResponse'

    post:
      summary: '[兼容] 创建组织'
      description: CoreHR系统兼容端点，与 /organization-units 功能相同
      operationId: createCoreHROrganization
      tags:
        - CoreHR兼容
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationUnitRequest'
      responses:
        '201':
          description: 组织创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUnit'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer Token认证
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API密钥认证

  parameters:
    ParentCode:
      name: parent_code
      in: query
      description: 父级组织7位编码
      schema:
        type: string
        pattern: '^[0-9]{7}$'
        example: '1000000'
    
    Status:
      name: status
      in: query
      description: 组织状态过滤
      schema:
        type: string
        enum: [ACTIVE, INACTIVE, PLANNED]
        example: 'ACTIVE'
    
    UnitType:
      name: unit_type
      in: query
      description: 组织类型过滤
      schema:
        type: string
        enum: [DEPARTMENT, COST_CENTER, COMPANY, PROJECT_TEAM]
        example: 'DEPARTMENT'
    
    Limit:
      name: limit
      in: query
      description: 每页记录数
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50
        example: 20
    
    Offset:
      name: offset
      in: query
      description: 偏移量
      schema:
        type: integer
        minimum: 0
        default: 0
        example: 0

  schemas:
    OrganizationUnit:
      type: object
      description: 组织单元对象
      required:
        - code
        - name
        - unit_type
        - status
        - level
        - path
        - sort_order
        - created_at
        - updated_at
      properties:
        code:
          type: string
          pattern: '^[0-9]{7}$'
          description: 7位组织编码（主键）
          example: '1000001'
        parent_code:
          type: string
          pattern: '^[0-9]{7}$'
          description: 父级组织7位编码
          example: '1000000'
          nullable: true
        name:
          type: string
          maxLength: 255
          description: 组织名称
          example: '技术研发部'
        unit_type:
          type: string
          enum: [DEPARTMENT, COST_CENTER, COMPANY, PROJECT_TEAM]
          description: |
            组织类型:
            - DEPARTMENT: 部门
            - COST_CENTER: 成本中心  
            - COMPANY: 公司
            - PROJECT_TEAM: 项目团队
          example: 'DEPARTMENT'
        status:
          type: string
          enum: [ACTIVE, INACTIVE, PLANNED]
          description: |
            组织状态:
            - ACTIVE: 活跃
            - INACTIVE: 非活跃
            - PLANNED: 计划中
          example: 'ACTIVE'
        level:
          type: integer
          minimum: 1
          description: 组织层级（自动计算）
          example: 2
        path:
          type: string
          description: 组织路径（自动计算）
          example: '/1000000/1000001'
        sort_order:
          type: integer
          description: 同级排序顺序
          example: 10
        description:
          type: string
          maxLength: 1000
          description: 组织描述
          example: '负责核心技术研发工作'
          nullable: true
        profile:
          type: object
          description: 组织多态配置
          additionalProperties: true
          example:
            manager: '张三'
            budget: 5000000
            location: '北京'
        created_at:
          type: string
          format: date-time
          description: 创建时间
          example: '2025-08-05T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: 更新时间
          example: '2025-08-05T10:30:00Z'

    CreateOrganizationUnitRequest:
      type: object
      description: 创建组织单元请求
      required:
        - name
        - unit_type
      properties:
        name:
          type: string
          maxLength: 255
          description: 组织名称
          example: '新技术部'
        parent_code:
          type: string
          pattern: '^[0-9]{7}$'
          description: 父级组织7位编码
          example: '1000000'
          nullable: true
        unit_type:
          type: string
          enum: [DEPARTMENT, COST_CENTER, COMPANY, PROJECT_TEAM]
          description: 组织类型
          example: 'DEPARTMENT'
        description:
          type: string
          maxLength: 1000
          description: 组织描述
          example: '专注于新技术研发'
          nullable: true
        profile:
          type: object
          description: 组织多态配置
          additionalProperties: true
          example:
            manager: '李四'
            budget: 3000000
        sort_order:
          type: integer
          description: 同级排序顺序
          example: 5
          nullable: true

    UpdateOrganizationUnitRequest:
      type: object
      description: 更新组织单元请求
      properties:
        name:
          type: string
          maxLength: 255
          description: 组织名称
          example: '技术研发部'
          nullable: true
        parent_code:
          type: string
          pattern: '^[0-9]{7}$'
          description: 父级组织7位编码
          example: '1000000'
          nullable: true
        status:
          type: string
          enum: [ACTIVE, INACTIVE, PLANNED]
          description: 组织状态
          example: 'ACTIVE'
          nullable: true
        description:
          type: string
          maxLength: 1000
          description: 组织描述
          example: '更新后的组织描述'
          nullable: true
        profile:
          type: object
          description: 组织多态配置
          additionalProperties: true
          nullable: true
        sort_order:
          type: integer
          description: 同级排序顺序
          example: 10
          nullable: true

    ListOrganizationUnitsResponse:
      type: object
      description: 组织单元列表响应
      required:
        - organizations
        - total_count
        - page
        - page_size
      properties:
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUnit'
          description: 组织单元列表
        total_count:
          type: integer
          format: int64
          description: 总记录数
          example: 156
        page:
          type: integer
          description: 当前页码
          example: 1
        page_size:
          type: integer
          description: 每页记录数
          example: 50

    OrganizationTreeResponse:
      type: object
      description: 组织树响应
      required:
        - organizations
        - total_count
      properties:
        organizations:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationUnit'
          description: 按层级排序的组织单元列表
        total_count:
          type: integer
          description: 树中节点总数
          example: 28

    OrganizationStatsResponse:
      type: object
      description: 组织单元统计响应
      required:
        - total_count
        - by_type
        - by_status
      properties:
        total_count:
          type: integer
          format: int64
          description: 组织单元总数
          example: 156
        by_type:
          type: object
          description: 按类型统计
          additionalProperties:
            type: integer
            format: int64
          example:
            COMPANY: 5
            DEPARTMENT: 45
            PROJECT_TEAM: 78
            COST_CENTER: 28
        by_status:
          type: object
          description: 按状态统计
          additionalProperties:
            type: integer
            format: int64
          example:
            ACTIVE: 142
            INACTIVE: 12
            PLANNED: 2

    ErrorResponse:
      type: object
      description: 错误响应
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: 错误代码
          example: 'VALIDATION_ERROR'
        message:
          type: string
          description: 错误消息
          example: 'Invalid organization code format'
        details:
          type: object
          description: 错误详情
          additionalProperties: true
          example:
            field: 'code'
            value: 'invalid'
            expected: '7-digit numeric string'

  responses:
    BadRequest:
      description: 请求参数错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid_code:
              summary: 无效编码格式
              value:
                code: 'VALIDATION_ERROR'
                message: 'Invalid organization code format'
                details:
                  field: 'code'
                  value: 'abc123'
                  expected: '7-digit numeric string'
            invalid_parent:
              summary: 无效父级编码
              value:
                code: 'VALIDATION_ERROR'
                message: 'Parent organization unit not found'
                details:
                  field: 'parent_code'
                  value: '9999999'

    Unauthorized:
      description: 未授权访问
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 'UNAUTHORIZED'
            message: 'Authentication required'

    Forbidden:
      description: 权限不足
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 'FORBIDDEN'
            message: 'Insufficient permissions to access this resource'

    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 'NOT_FOUND'
            message: 'Organization unit not found'
            details:
              code: '1000999'

    Conflict:
      description: 资源冲突
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            name_conflict:
              summary: 名称冲突
              value:
                code: 'CONFLICT'
                message: 'Organization name already exists in the same parent'
                details:
                  field: 'name'
                  value: '技术部'
                  parent_code: '1000000'
            circular_reference:
              summary: 循环引用
              value:
                code: 'CONFLICT'
                message: 'Cannot set parent that would create circular reference'
                details:
                  code: '1000001'
                  parent_code: '1000002'

    InternalServerError:
      description: 服务器内部错误
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 'INTERNAL_ERROR'
            message: 'An unexpected error occurred'

tags:
  - name: 组织单元管理
    description: |
      组织单元的增删改查操作
      
      ### 核心功能
      - ✅ 7位编码系统，性能优化40-60%
      - ✅ 自动层级计算和路径管理
      - ✅ 多态配置支持
      - ✅ 完整的数据验证
      - ✅ 企业级权限控制
      
  - name: CoreHR兼容
    description: |
      CoreHR系统兼容接口
      
      ### 说明
      为了向后兼容，保留了CoreHR格式的API端点
      功能与标准端点完全相同，仅路径不同