@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局样式重置和基础配置 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}